<img src="" alt="Fantastic Futures @ Stanford"/>

# Introduction to Python

### Instructor
- Simon Wiles (CIDR), <em>simon.wiles@stanford.edu</em>
  <img src="https://raw.githubusercontent.com/sul-cidr/Workshops/master/cidr-logo.no-text.240x140.png" alt="Center for Interdisciplinary Digital Research @ Stanford" width="120"/>

### Goal


### Topics



### A Note on Jupyter Notebooks and Google Colaboratory

Jupyter notebooks are a way to write and run Python code in an interactive way. They're quickly becoming a standard way of putting together data, code, and written explanations or visualizations into a single document and sharing that. There are a lot of ways that you can run Jupyter notebooks, including just locally on your computer, but we've decided to use Google's Colaboratory notebook platform for this workshop.  Colaboratory is “a Google research project created to help disseminate machine learning education and research.”  If you would like to know more about Colaboratory in general, you can visit the [Welcome Notebook](https://colab.research.google.com/notebooks/welcome.ipynb).

Using the Google Colaboratory platform allows us to focus on learning and writing Python in the workshop rather than on setting up Python, which can sometimes take a bit of extra work depending on platforms, operating systems, and other installed applications. If you'd like to install a Python distribution locally, though, we have some instructions (with gifs!) on installing Python through the Anaconda distribution, which will also help you handle virtual environments: https://github.com/sul-cidr/Workshops/wiki/Installing-and-Configuring-Anaconda-and-Jupyter-Notebooks

## 1. About Python

### Why Python?

[![XKCD 353: Python](https://imgs.xkcd.com/comics/python.png)](https://xkcd.com/353/)

* Python is a great language for learning
  - Python is a relatively simple and highly readable language
  - Python is a high-level interpreted language
  - This makes is fairly easy to learn, and fun to code in
  - Learning Python will make learning other languages easier
  
  
* Python is powerful and multi-purpose 
  - Python can be used for almost anything, from writing simple scripts to automate tasks to building full-scale applications
  - Python is “Batteries-Included” -- the Standard Library includes a huge range of modules that can be depended upon
  - The broader Python community is huge and vibrant -- hundreds of thousands of third-party modules and tutorials cover almost all areas of computing
    + In particular, for our purposes, Python is at the very center of the Data Science and Machine Learning ecosystems


* Python is cross-platform and free and open-source
  - Python is freely available and is maintained and governed by its community of users
  - Because of this, and because of Python’s great versatility and popularity, it is available on more-or-less any computer system you are likely to come into contact with


In short, an investment in learning Python is as safe a bet as you are likely to find, no matter where you are now or where you may want to go from here.

### A Note on Python Versions
In this workshop we will be working with Python 3, which is now more-or-less ubiquitous.  In particular, everything you will learn today will be compatible with Python versions `3.6` and up (the most recently released version is `3.8`).  Python 3 has been the standard for many years now, but be aware that you can still find older tutorials, articles, and especially printed books that are based on Python 2.  The differences are not hugely significant, but there are minor syntax changes that can cause problems.

### Programs and Shells
Python is an interpreted language -- this means that the code we write is executed by the python interpreter.

There are many ways to write and run python code.
  * as `.py` programs that are executed from a command-line or terminal environment
  * in an interactive shell, like a Python "command prompt"
  * using interactive notebooks


  - interpreters
    + read / evaluate / print
  - getting help -- docs and autocomplete

<mark>TODO</mark>

## 2. Some Basic Language Features

#### The `print()` function
The most basic way for a Python program to generate output is via the `print()` function, which `print`s directly to the console or terminal environment in which the Python interpreted is executed.  In our Jupyter / Google Colab notebooks, this produces output beneath the code cell:

In [ ]:
print("Hello world!")

Jupyter code cells (and other Python console environments) will also automatically output the _return value_ of a cell (or other code block) -- in our context here that means the last statement in a code cell:

In [ ]:
"Hello world!"

For more information about the `print()` statement, we can access Python's built-in documentation and the Colab envionment's autocomplete and intellisense functionality.

In [ ]:
print?

#### Comments
Comments are an important part of any program.  In Python, comments begin with `#`:

```
# This is a comment
print("Hello world!")

```

and they can also be used to annotate lines of code:
```
print("Hello world!")  # Comments are fine here too!
```

Use comments liberally, when you are learning, and even when you think you know exactly what you're doing.  Your comments should allow readers of your code to understand _why_ your code does what it does.  Remember that a primary audience for your comments will be you yourself when you revisit your code in the future!

#### Indentation and Blocks
White-space (specifically white-space at the beginning of lines) is meaningful in Python programs, and defines groups of statements which constitute _blocks_, which will become important when we discuss control flow and functions.  For now, note that indentation must be consistent in a python file -- the convention is to use four spaces.  Mixing up indentation levels will result in errors:

In [ ]:
print("this is fine")
  print("this is not")

## 3. Values and Variables

* Literal Constants
  - Numbers
  - Strings
* Variables
  - Data Types
  - Identifiers
    + Conventions


### Values

* values have types
* variables are assigned values, which they store
* the assignment operator
<mark>TODO</mark>



### Identifiers

* identifiers (and everything else) in Python are case-sensitive
* casing conventions
* no initial numbers
<mark>TODO</mark>

### Native Datatypes

Python has lots of native datatypes, but the most important ones are:

* **Booleans** -- `True` or `False`
* **Numbers** -- primarily integers and floats
* **Strings** -- sequences of characters
* **Lists** -- ordered sequences of values
* **Tuples** -- like **list**s but immutable
* **Dictionaries** -- unordered collections of key-value pairs
* **Sets** -- unordered collections of values

### Numbers and Booleans

### Strings, Lists, and Tuples

Strings, lists, and tuples are what in Python are called **_sequence types_** -- they are composed of (none or more) ordered values.  In the case of a string, the values are characters; in the case of lists and tuples, the values are any legal Python values:

In [ ]:
# A simple string assignment
norweigian_blue = "This parrot is no more! It has ceased to be!"
print(norweigian_blue)
print(type(norweigian_blue))

In [ ]:
# Strings can be indicated by single (') or double (") quotes
#  - note the use of the backslash (\) to escape the quote used as an apostrophe
black_knight = 'It\'s just a flesh wound.'
print(black_knight)
print(type(black_knight))

In [ ]:
# Multi-line strings are possible with triple quotes (''' or """ can be used)
cheesemakers = '''
Man: I think it was, "Blessed are the cheesemakers"!
Gregory's wife: What's so special about the cheesemakers?
Gregory: Well, obviously it's not meant to be taken literally. It refers to any manufacturer of dairy products.
'''
print(cheesemakers)
print(type(cheesemakers))

In [ ]:
# Strings in Python 3 are fully unicode-compliant
monty_python_zh = '蒙提·派森的飛行馬戲團'
print(monty_python_zh)

In [ ]:
# tuples are instantiated with parentheses, and members are separated with commas
pythons_tuple = ('chapman', 'cleese', 'gilliam', 'idle', 'jones', 'palin')
print(pythons_tuple)
print(type(pythons_tuple))

In [ ]:
# lists use square brackets instead
pythons_list = ['graham', 'john', 'terry', 'eric', 'terry', 'michael']
print(pythons_list)
print(type(pythons_list))

**Sequence** types share certain methods and properties:

In [ ]:
# the built-in function `len` returns the length of a string...
len(norweigian_blue)

In [ ]:
# ...or a tuple...
len(pythons_tuple)

In [ ]:
# ... or a list
len(pythons_list)

and any sequence can be **_indexed_**:

In [ ]:
# Python sequences are "zero-indexed" -- meaning that the first member
#  of a sequence is found at index 0
norweigian_blue[0]

In [ ]:
pythons_tuple[0]

Indexing can also be used to return a 'slice' of a sequence.  The basic pattern is `identifier[start:end:step]`.

In [ ]:
pythons_list[2:4]

In [ ]:
# we can omit the start value, and the beginning of the sequence is assumed
print(pythons_tuple[0:3])
print(pythons_tuple[:3])

In [ ]:
# if we omit the end value, the end of the sequence is assumed
print(pythons_list[4:])

Since a **string** is a sequence of characters, indexing on **string**s operates in the same way:

In [ ]:
# remember: the first character is found at index 0
norweigian_blue[0]

In [ ]:
norweigian_blue[:11]

In [ ]:
# non-ascii characters are just fine, still:
monty_python_zh[:5]

Indexing is very powerful, and quite intuitive once you get the hang of it.

In [ ]:
# negative indexing is also possible
norweigian_blue[-1]

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
print(alphabet[:-10])
print(alphabet[-10:])

In [ ]:
pythons_tuple[-4:]

In [ ]:
black_knight[-12:-1]

**String**s (whether literals or variables) are objects that have some special methods that help common tasks.

Let’s look a case-manipulation, for example:

In [ ]:
print('monty python’s flying circus'.upper())
print('MONTY PYTHON’S FLYING CIRCUS'.lower())

In [ ]:
# case-manipulation is unicode-aware
#  (but don't make the mistake of thinking this solves all problems!)
print('norsk blå papegøye'.upper())

In [ ]:
# capitalization is mostly trivial...
print('monty python’s flying circus'.capitalize())

In [ ]:
# ...but it takes a naïve approach to title-case
print('Monty Python’s Life of Brian'.title())

**String**s also provide the `.replace()` method, which behaves as expected:

In [ ]:
brian = 'Brian is the Messiah!'
print(brian)
brian = brian.replace('the Messiah', 'a very naughty boy')
print(brian)

The `.strip()` and `.split()` methods are amongst the most commonly used, and are especially useful when dealing with data from external sources.

In [ ]:
# .split() breaks a string into pieces, and returns those pieces as a list
input_string = 'The Meaning of Life'
input_string.split()

In [ ]:
# .split() takes an argument which specifies the sequence to split on
knights_of_the_round_table = 'Sir Bedevere the Wise, Sir Lancelot the Brave, Sir Galahad the Pure, Sir Robin the Not-Quite-So-Brave-as-Sir-Lancelot, Sir Not-Appearing-in-this-Film'
knights_of_the_round_table.split(',')

In [ ]:
# a common use of this feature is to split a string into 'lines' by
#  splitting on the 'newline' character '\n':
cheesemakers.split('\n')

In the previous examples we have some extraneous white-space in the strings in our list.  For the `knights_of_the_round_table` we could remove this by splitting on `', '` (try it!), but in “the wild”, we commonly need to clean-up the text that we read into our programs, and the `.strip()` method is a good first step:

In [ ]:
# because cheesemakers.strip() returns another string, we can chain these operations:
cheesemakers.strip().split('\n')

In [ ]:
# .strip() can be called on string literals as well as variables
'  ...and now for something completely different!  '.strip()

In [ ]:
# .strip() can also take an argument which is a sequence of
#  characters to strip from the ends of the input
'  ...and now for something completely different!  '.strip(' .!')

There are `.lstrip()` and `.rstrip()` methods available, which strip white-space (or specified characters) from only the **_l_**eft or **_r_**ight of a string respectively and also a `.splitlines()` method which does the same thing as `.split('\n')` but handles a wider variety of situations -- in your code you would do better to use this method directly.

Amongst the most commonly seen **string** methods is the `.format()` method.  The `.format()` method operates on the _template_ string, and takes arguments that it renders into the that string.

In [ ]:
first_name = pythons_list[1].capitalize()
last_name = pythons_tuple[1].capitalize()
quote = norweigian_blue
print('{} {} said, “{}”'.format(first_name, last_name, quote))

In [ ]:
# arguments to .format() don't themselves have to be strings
eric_birthyear = 1943
print('{} {} was born in {}.'.format(pythons_list[3].capitalize(), pythons_tuple[3].capitalize(), eric_birthyear))

Additional information concerning how the arguments should be rendered can be passed as part of the template string.  This is especially important for numbers:

In [ ]:
# e.g. decimal precision
print('{:.3f}'.format(1/3))

In [ ]:
# or leading zeros
print('{:05}'.format(42))

In [ ]:
# or both
print('{:08.3f}'.format(1/3))

but it's also useful for aligning strings in output too:

In [ ]:
# align right, filling space to the left with spaces
print('{: >19}'.format(pythons_tuple[0]))
print('{: >19}'.format(pythons_tuple[1]))
print('{: >19}'.format(pythons_tuple[2]))
print('{: >19}'.format(pythons_tuple[3]))
print('{: >19}'.format(pythons_tuple[4]))
print('{: >19}'.format(pythons_tuple[5]))

In [ ]:
# center, filling space on either side with hyphens
print('{:-^19}'.format(pythons_list[0]))
print('{:-^19}'.format(pythons_list[1]))
print('{:-^19}'.format(pythons_list[2]))
print('{:-^19}'.format(pythons_list[3]))
print('{:-^19}'.format(pythons_list[4]))
print('{:-^19}'.format(pythons_list[5]))

There are a number of different that arguments can be passed to the `.format()` method -- above we've passed them in as simple positional arguments.  We won't go through all the options, but if you're able to use Python 3.6 or higher, the preferred way is to use **f-strings**.

In [ ]:
# f-strings allow us to incorporate variables that are in-scope directly into our strings:
first_name = pythons_list[3].capitalize()
last_name = pythons_tuple[3].capitalize()

print(f'{first_name} {last_name} was born in {eric_birthyear}.')

In [ ]:
# we can even use expressions directly in f-strings:
current_year = 2019
print(f'At some point in {current_year}, he will (have) turn(ed) {current_year - eric_birthyear} years old.')

**String**s have many other useful methods -- use Google Colab’s _tab-autocompletion_ feature to see what’s available.

In [ ]:
my_string = 'abcd'

In [ ]:
# try it here -- type the string variable (`my_string`) followed by a period (`.`):

#### Lists

**List**s are one of the most important data-structures available in Python.  Unlike the other sequence types **tuple**s and **string**s are _mutable_ -- this means they can be modified in-place, without the need to create a new object every time something changes.

We've already seen two ways of creating **list** -- the literal declaration, and `.split()`ing a string into a list:

In [ ]:
# a literal list
knights = [
    'Sir Bedevere the Wise',
    'Sir Lancelot the Brave',
    'Sir Galahad the Pure',
    'Sir Robin the Not-Quite-So-Brave-as-Sir-Lancelot',
    'Sir Not-Appearing-in-this-Film'
]
print(knights)

In [ ]:
# a list created by splitting a string
knights = knights_of_the_round_table.split(', ')
print(knights)

A third way is to use the `.append()` method that exists on all lists:

In [ ]:
# we can create an empty list with the following syntax
menu = []

# and then add items to the list with the .append() method
menu.append('egg')
menu.append('bacon')
menu.append('sausage')
menu.append('spam')

print(menu)

Since lists are mutable, we were able to add items to the list after it had been created.  For the same reason, it is also possible to make changes to the items in the list:

In [ ]:
menu[0] = 'spam'
menu[1] = 'spam'
menu[2] = 'spam'

print(menu)

In [ ]:
# we can also delete items as desired
del menu[3]
del menu[2]

print(menu)

In [ ]:
# note that this doesn't work with tuples...
menu_tuple = ('egg', 'bacon', 'sausage', 'spam')
print(menu_tuple[0])
menu_tuple[0] = 'spam'

In [ ]:
# ... or strings
spam = 'spam'
print(spam[0])
spam[0] = 'a'

All sequence types, **list**s, **tuple**s, and **string**s, however, may be joined together to make strings (as long as all the items in the sequence are strings).  For this purpose, Python exposes the `.join()` method on string objects -- call it on the string (literal or variable) that you want to use as the separator:

In [ ]:
print(', '.join(knights))

In [ ]:
print(' and '.join(menu))

In [ ]:
print('\n'.join(pythons_tuple))

#### Activity?



Egg and Spam
Egg, bacon and Spam
Egg, bacon, sausage and Spam
Spam, bacon, sausage and Spam
Spam, egg, Spam, Spam, bacon and Spam
Spam, Spam, Spam, egg and Spam
Spam, Spam, Spam, Spam, Spam, Spam, baked beans, Spam, Spam, Spam and Spam

In [ ]:
menu = [
    'egg',
    'bacon',
    'sausage',
    'spam'    
]
print(f'{", ".join(menu[:-1])} and {menu[-1]}.'.capitalize())

### Dictionaries and Sets

Exercise:
Given the `cheesemakers` string above, split it, and print it in the form:
```
SPEAKER -- line
SPEAKER -- line
```

## 2. Operators and Expressions

Most of the statements in a python program will contain one or more _expressions_.  Literal and variable values on their own are simple expressions, but complex expressions can be created by combining one or more _operators_ and one or more _operands_ which are evaluated by the interpreter to return a value.

There are three main kinds of operators in Python -- _arithmetic operators_, _logical operators_, and _bitwise operators_.  We will briefly look at the first two kinds now, although we will get more familiar with them as they will be used throughout this notebook.

 
  - Evaluation order

In [ ]:
# a literal value is an expression
42

In [ ]:
"Monty Python and the Holy Grail"

In [ ]:
# the assignment operator is used to assign values to variables
# notice that it returns None
the_meaning_of_life = 42

Most of the binary arithmetic operators make sense only in the context of numbers.  Here are a few examples:

In [ ]:
# subtraction
10 - 8

In [ ]:
# multiplication
10 * 8

In [ ]:
# exponentiation
8 ** 2

In [ ]:
# floating-point or ("true") division
#  -- note this operator always evaluates to a floating-point value
8 / 2

In [ ]:
# notice also the floating-point precision
10 / 3

In [ ]:
# floor division will rounding the result down to the nearest integer
#  ("flooring" the value)
10 // 3

In [ ]:
# and returns an integer when the input expressions are both integers
8 // 2

In [ ]:
# for this reason it is sometime called "integer division", but this is not
#  very accurate, as Python will return a floating-point value
#  if one or both of the input expressions are floating-point values:
8.0 // 2

In [ ]:
10.0 // 3

In [ ]:
# and finally modulo
10 % 3

The addition operator `+` is slightly more interesting, as it can take expressions other than numbers as its operands:

In [ ]:
# numerical addition is as expected
10 + 5

In [ ]:
-5 + -4

In [ ]:
# "adding" strings results in concatenation
'And now for something' + ' ' + 'completely different.'

In [ ]:
# note that adding strings and numbers is not allowed
'The Meaning of Life' + ' is ' + 42

In [ ]:
# "adding" lists results in a new list which is the combination of the operand expressions
['Leibniz', 'Kant', 'Hegel', 'Schopenhauer', 'Schelling'] + ['Wittgenstein', 'Nietszche', 'Beckenbauer']

The logical operator return **boolean** values.  The are perhaps most commonly used in controlling conditional execution, but have many other uses too.

First, arithmetic comparison:

In [ ]:
# greater than
10 > 9

In [ ]:
# lesser than
10 < 9

In [ ]:
# greater than or equal to
10 >= 10

In [ ]:
# lesser than or equal to
10 <= 10

Boolean comparison operator on operands which are (or which evaluate to) truthy or falsey values:

In [ ]:
# simple boolean NOT
not True

In [ ]:
# numerical values are truthy...
not 10

In [ ]:
# ...except for 0
not 0

In [ ]:
# any empty sequence is falsey, for example an empty list...
not []

In [ ]:
# ...or an empty dictionary...
not {}

In [ ]:
# ...or an empty string
not ''

In [ ]:
# and non-empty sequences are truthy, e.g.
not norweigian_blue

In [ ]:
# boolean AND
True and True

In [ ]:
True and False

In [ ]:
# boolean OR
True or False

In [ ]:
False or False

In [ ]:
# and finally equality:
42 == 42

In [ ]:
the_meaning_of_life = 42

print(the_meaning_of_life == 42)
print(42 == the_meaning_of_life)
print(the_meaning_of_life == the_meaning_of_life)

In [ ]:
# and inequality
the_meaning_of_life != 43

## Objects and Functions

* Everything's an object
  - Objects have attributes and methods

## 3. Conditional Execution

* `if` statements
  + `if`/`else`
  + `elif`
* Conditional expressions

## 4. Iteration and Loops

* Definite loops (`for` loops)
  - the `range` built-in
* Indefinite loops (`while` loops)
* `continue`, `break`, and `else` in loops

In [ ]:
pythons = [
    {'first_name': 'Eric', 'last_name': 'Idle'},
]

for python in pythons:
    print('{}, {}'.format(python['last_name'], python['first_name']))

## Data Structures

* Objects
  - References
* Sequences
  - Lists and Tuples
  - Dictionaries
  - Indexing and Slicing
* Sets
* Comprehensions

## Modules
  - The Standard Library
  - pip
  - `import` statements

## Advanced

### Comprehensions and Lambdas