![Fantastic Futures @ Stanford]()

# Introduction to Python

### Instructor
<img src="" alt="Center for Interdisciplinary Digital Research @ Stanford" align="left" style="margin:0"/>
Simon Wiles, <em>simon.wiles@stanford.edu</em>

## 1. About Python

### Why Python?

[![XKCD 353: Python](https://imgs.xkcd.com/comics/python.png)](https://xkcd.com/353/)

* Python is a great language for learning
  - Python is a relatively simple and highly readable language
  - Python is a high-level interpreted language
  - This makes is fairly easy to learn, and fun to code in
  - Learning Python will make learning other languages easier
  
  
* Python is powerful and multi-purpose 
  - Python can be used for almost anything, from writing simple scripts to automate tasks to building full-scale applications
  - Python is “Batteries-Included” -- the Standard Library includes a huge range of modules that can be depended upon
  - The broader Python community is huge and vibrant -- hundreds of thousands of third-party modules and tutorials cover almost all areas of computing
    + In particular, for our purposes, Python is at the very center of the Data Science and Machine Learning ecosystems


* Python is cross-platform and free and open-source
  - Python is freely available and is maintained and governed by its community of users
  - Because of this, and because of Python’s great versatility and popularity, it is available on more-or-less any computer system you are likely to come into contact with


In short, an investment in learning Python is as safe a bet as you are likely to find, no matter where you are now or where you may want to go from here.

And in case you were wondering, Python is indeed named for Monty Python!

![Python is named for Monty Python, of course...]()

(from §1 of the [official Python tutorial](https://docs.python.org/3/tutorial/appetite.html).)

### A Note on Python Versions
In this workshop we will be working with Python 3, which is now more-or-less ubiquitous.  In particular, everything you will learn today will be compatible with Python versions `3.6` and up (the most recently released version is `3.8`).  Python 3 has been the standard for many years now, but be aware that you can still find older tutorials, articles, and especially printed books that are based on Python 2.  The differences are not hugely significant, but there are minor syntax changes that can cause problems.

### Programs and Shells
Python is an interpreted language -- this means that the code we write is executed by the python interpreter.

There are many ways to write and run python code:
  * as `.py` programs that are executed from a command-line or terminal environment;
  * in an interactive shell, like a Python "command prompt";
  * using interactive notebooks, like this one.

## 2. Some Basic Language Features

### The `print()` function
The most basic way for a Python program to generate output is via the `print()` function, which `print`s directly to the console or terminal environment in which the Python interpreted is executed.  In our Jupyter / Google Colab notebooks, this produces output beneath the code cell:

In [ ]:
print("Hello world!")

Jupyter code cells (and other Python console environments) will also automatically output the _return value_ of a cell (or other code block) -- in our context here that means the last statement in a code cell:

In [ ]:
"Hello world!"

For more information about the `print()` statement, we can access Python's built-in documentation and the Colab envionment's autocomplete and intellisense functionality.

In [ ]:
print?

### Comments
Comments are an important part of any program.  In Python, comments begin with `#`:

```
# This is a comment
print("Hello world!")

```

and they can also be used to annotate lines of code:
```
print("Hello world!")  # Comments are fine here too!
```

Use comments liberally, when you are learning and even when you think you know exactly what you're doing.  Your comments should allow readers of your code to understand _why_ your code does what it does.  Remember that a primary audience for your comments will be you yourself when you revisit your code in the future!

### Indentation and Blocks
White-space (specifically white-space at the beginning of lines) is meaningful in Python programs, and defines groups of statements which constitute _blocks_, which will become important when we discuss control flow and functions.  For now, note that indentation must be consistent in a python file -- the convention is to use four spaces.  Mixing up indentation levels will result in errors:

In [ ]:
print("this is fine")
  print("this is not")

## 3. Values, Types, and Variables

For a program to be useful it needs to handle data in some way.  Each individual piece of information on which a Python program can operate is known as a **_value_**, or more generically as an **_object_**, and every object in Python has a **_type_**.  An object’s type determines what can and can’t be done with the object -- in particular, the attributes and items which are available on the object and its mutability.

Python programs access these values through **_reference_**s, and these references can be **_literal_**s or **_variable_**s.

In [ ]:
# a literal reference to a value is exactly what it is
5

In [ ]:
# these references are sometimes called "literal constants"
5 = 'a'

In order to store, change, or otherwise manipulate values, we create variables that reference values.  To create a variable reference, we must bind a value to an **_identifier_**.  Identifiers can be whatever we choose, but they must begin with an alphabetic character or an underscore `_` (i.e. they specifically must not begin with digits).  There are ~30 identifiers that are reserved **_keywords_** -- while valid identifiers, they may not be assigned values.  Note that variables (like everything else in Python) are case-sensitive.

There are certain conventions that are commonly followed amongst Python programmers with respect to naming variables, although they are not binding (the above rules notwithstanding).

In [ ]:
# notice that assignment creates no output
my_variable = 5

In [ ]:
# if we ask the interpreter to evaluate the reference, we get output
my_variable

In [ ]:
# an important characteristic of a variable, of course, it that it can be changed
my_variable = 10
my_variable

### Native Datatypes

Python has lots of native datatypes, but the most important ones are:

* **Booleans** -- `True` or `False`
* **Numbers** -- primarily integers and floats
* **Strings** -- sequences of characters
* **Lists** -- ordered sequences of values
* **Tuples** -- like **list**s but immutable
* **Dictionaries** -- unordered collections of key-value pairs
* **Sets** -- unordered collections of values

### Numbers, Booleans, and `None`

Python has three built-in numeric types (**_integers_**, **_floating-point numbers_**, and **_complex numbers_**).  Decimal floating-point numbers and true fractions are possible using the standard library.

In [ ]:
# integer literals can be expressed in decimal, binary, octal, or hexadecimal
print(1, 23, 3493)          # Decimal integer literals
print(0b010101, 0b110010)   # Binary integer literals
print(0o1, 0o27, 0o6645)    # Octal integer literals
print(0x1, 0x17, 0xDA5)     # Hexadecimal integer literals

In [ ]:
# literal floating-point numbers can be expressed by the use of
#  a decimal point (.) and/or an 'e' (with optional '+' or '-')
#  denoting the exponent suffix
print(119.4)
print(12.0)
print(1e1)
print(1e0)
print(2.9e16)

In [ ]:
# literal complex numbers are expressed as integer or floating-point
#  literals with the suffix 'j' which indicates √-1
print(0j)
print(1.0e0j)

In [ ]:
# in recent versions of Python (<= 3.6), underscores ('_') can be
#  used in numeric literals, to aid readability
42_124_102

Two special values `True` and `False` exist to represent the boolean values (note the initial capitalization).

In [ ]:
# the boolean values True and False can be treated like literal constants
True

In [ ]:
# although they're technically keywords
True = 5

Finally the built-in object `None` represents a null value.  It can be used as a stand-in placeholder when required, or specifically to indicate the lack of a value.  It is also the default **_return value_** for functions that don't otherwise specify one, and for statements that do not evaluate to any value.

In [ ]:
# note that in a notebook environment, no output is generated if `None` is returned
None

### Sequence Types

**String**s, **list**s, and **tuple**s are what in Python are called **_sequence types_** -- they are composed of (none or more) ordered values.  In the case of a string, the values are characters; in the case of lists and tuples, the values are any legal Python values:

In [ ]:
# A simple string assignment
norweigian_blue = "This parrot is no more! It has ceased to be!"
print(norweigian_blue)
print(type(norweigian_blue))

In [ ]:
# Strings can be indicated by single (') or double (") quotes
#  - note the use of the backslash (\) to escape the quote used as an apostrophe
black_knight = 'It\'s just a flesh wound.'
print(black_knight)
print(type(black_knight))

In [ ]:
# Multi-line strings are possible with triple quotes (''' or """ can be used)
cheesemakers = '''
Man: I think it was, "Blessed are the cheesemakers"!
Gregory's wife: What's so special about the cheesemakers?
Gregory: Well, obviously it's not meant to be taken literally. It refers to any manufacturer of dairy products.
'''
print(cheesemakers)
print(type(cheesemakers))

In [ ]:
# Strings in Python 3 are fully unicode-compliant
monty_python_zh = '蒙提·派森的飛行馬戲團'
print(monty_python_zh)

In [ ]:
# tuples are instantiated with parentheses, and members are separated with commas
pythons_tuple = ('chapman', 'cleese', 'gilliam', 'idle', 'jones', 'palin')
print(pythons_tuple)
print(type(pythons_tuple))

In [ ]:
# lists use square brackets instead
pythons_list = ['graham', 'john', 'terry', 'eric', 'terry', 'michael']
print(pythons_list)
print(type(pythons_list))

**Sequence** types share certain methods and properties:

In [ ]:
# the built-in function `len` returns the length of a string...
len(norweigian_blue)

In [ ]:
# ...or a tuple...
len(pythons_tuple)

In [ ]:
# ... or a list
len(pythons_list)

and any sequence can be **_indexed_**:

In [ ]:
# Python sequences are "zero-indexed" -- meaning that the first member
#  of a sequence is found at index 0
norweigian_blue[0]

In [ ]:
pythons_tuple[0]

Indexing can also be used to return a 'slice' of a sequence.  The basic pattern is `identifier[start:end:step]`.

In [ ]:
pythons_list[2:4]

In [ ]:
# we can omit the start value, and the beginning of the sequence is assumed
print(pythons_tuple[0:3])
print(pythons_tuple[:3])

In [ ]:
# if we omit the end value, the end of the sequence is assumed
print(pythons_list[4:])

Since a **string** is a sequence of characters, indexing on **string**s operates in the same way:

In [ ]:
# remember: the first character is found at index 0
norweigian_blue[0]

In [ ]:
norweigian_blue[:11]

In [ ]:
# non-ascii characters are just fine, still:
monty_python_zh[:5]

Indexing is very powerful, and quite intuitive once you get the hang of it.

In [ ]:
# negative indexing is also possible
norweigian_blue[-1]

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
print(alphabet[:-10])
print(alphabet[-10:])

In [ ]:
pythons_tuple[-4:]

In [ ]:
black_knight[-12:-1]

### Strings

**String**s (whether literals or variables) are objects that have some special methods that help common tasks.

Let’s look a case-manipulation, for example:

In [ ]:
print('monty python’s flying circus'.upper())
print('MONTY PYTHON’S FLYING CIRCUS'.lower())

In [ ]:
# case-manipulation is unicode-aware
#  (but don't make the mistake of thinking this solves all problems!)
print('norsk blå papegøye'.upper())

In [ ]:
# capitalization is mostly trivial...
print('monty python’s flying circus'.capitalize())

In [ ]:
# ...but it takes a naïve approach to title-case
print('Monty Python’s Life of Brian'.title())

**String**s also provide the `.replace()` method, which behaves as expected:

In [ ]:
brian = 'Brian is the Messiah!'
print(brian)
brian = brian.replace('the Messiah', 'a very naughty boy')
print(brian)

The `.strip()` and `.split()` methods are amongst the most commonly used, and are especially useful when dealing with data from external sources.

In [ ]:
# .split() breaks a string into pieces, and returns those pieces as a list
input_string = 'The Meaning of Life'
input_string.split()

In [ ]:
# .split() takes an argument which specifies the sequence to split on
knights_of_the_round_table = 'Sir Bedevere the Wise, Sir Lancelot the Brave, Sir Galahad the Pure, Sir Robin the Not-Quite-So-Brave-as-Sir-Lancelot, Sir Not-Appearing-in-this-Film'
knights_of_the_round_table.split(',')

In [ ]:
# a common use of this feature is to split a string into 'lines' by
#  splitting on the 'newline' character '\n':
cheesemakers.split('\n')

In the previous examples we have some extraneous white-space in the strings in our list.  For the `knights_of_the_round_table` we could remove this by splitting on `', '` (try it!), but in “the wild”, we commonly need to clean-up the text that we read into our programs, and the `.strip()` method is a good first step:

In [ ]:
# because cheesemakers.strip() returns another string, we can chain these operations:
cheesemakers.strip().split('\n')

In [ ]:
# .strip() can be called on string literals as well as variables
'  ...and now for something completely different!  '.strip()

In [ ]:
# .strip() can also take an argument which is a sequence of
#  characters to strip from the ends of the input
'  ...and now for something completely different!  '.strip(' .!')

There are `.lstrip()` and `.rstrip()` methods available, which strip white-space (or specified characters) from only the **_l_**eft or **_r_**ight of a string respectively and also a `.splitlines()` method which does the same thing as `.split('\n')` but handles a wider variety of situations -- in your code you would do better to use this method directly.

Amongst the most commonly seen **string** methods is the `.format()` method.  The `.format()` method operates on the _template_ string, and takes arguments that it renders into the that string.

In [ ]:
first_name = pythons_list[1].capitalize()
last_name = pythons_tuple[1].capitalize()
quote = norweigian_blue
print('{} {} said, “{}”'.format(first_name, last_name, quote))

In [ ]:
# arguments to .format() don't themselves have to be strings
eric_birthyear = 1943
print('{} {} was born in {}.'.format(pythons_list[3].capitalize(), pythons_tuple[3].capitalize(), eric_birthyear))

Additional information concerning how the arguments should be rendered can be passed as part of the template string.  This is especially important for numbers:

In [ ]:
# e.g. decimal precision
print('{:.3f}'.format(1/3))

In [ ]:
# or leading zeros
print('{:05}'.format(42))

In [ ]:
# or both
print('{:08.3f}'.format(1/3))

but it's also useful for aligning strings in output too:

In [ ]:
# align right, filling space to the left with spaces
print('{: >19}'.format(pythons_tuple[0]))
print('{: >19}'.format(pythons_tuple[1]))
print('{: >19}'.format(pythons_tuple[2]))
print('{: >19}'.format(pythons_tuple[3]))
print('{: >19}'.format(pythons_tuple[4]))
print('{: >19}'.format(pythons_tuple[5]))

In [ ]:
# center, filling space on either side with hyphens
print('{:-^19}'.format(pythons_list[0]))
print('{:-^19}'.format(pythons_list[1]))
print('{:-^19}'.format(pythons_list[2]))
print('{:-^19}'.format(pythons_list[3]))
print('{:-^19}'.format(pythons_list[4]))
print('{:-^19}'.format(pythons_list[5]))

There are a number of different that arguments can be passed to the `.format()` method -- above we've passed them in as simple positional arguments.  We won't go through all the options, but if you're able to use Python 3.6 or higher, the preferred way is to use **f-strings**.

In [ ]:
# f-strings allow us to incorporate variables that are in-scope directly into our strings:
first_name = pythons_list[3].capitalize()
last_name = pythons_tuple[3].capitalize()

print(f'{first_name} {last_name} was born in {eric_birthyear}.')

In [ ]:
# we can even use expressions directly in f-strings:
current_year = 2019
print(f'At some point in {current_year}, he will (have) turn(ed) {current_year - eric_birthyear} years old.')

**String**s have many other useful methods -- use Google Colab’s _tab-autocompletion_ feature to see what’s available.

In [ ]:
my_string = 'abcd'

In [ ]:
# try it here -- type the string variable (`my_string`) followed by a period (`.`):

### Lists

**List**s are one of the most important data-structures available in Python.  Unlike the other sequence types **tuple**s and **string**s are _mutable_ -- this means they can be modified in-place, without the need to create a new object every time something changes.

We've already seen two ways of creating **list** -- the literal declaration, and `.split()`ing a string into a list:

In [ ]:
# a literal list
knights = [
    'Sir Bedevere the Wise',
    'Sir Lancelot the Brave',
    'Sir Galahad the Pure',
    'Sir Robin the Not-Quite-So-Brave-as-Sir-Lancelot',
    'Sir Not-Appearing-in-this-Film'
]
print(knights)

In [ ]:
# a list created by splitting a string
knights = knights_of_the_round_table.split(', ')
print(knights)

A third way is to use the `.append()` method that exists on all lists:

In [ ]:
# we can create an empty list with the following syntax
menu = []

# and then add items to the list with the .append() method
menu.append('egg')
menu.append('bacon')
menu.append('sausage')
menu.append('spam')

print(menu)

Since lists are mutable, we were able to add items to the list after it had been created.  For the same reason, it is also possible to make changes to the items in the list:

In [ ]:
menu[0] = 'spam'
menu[1] = 'spam'
menu[2] = 'spam'

print(menu)

In [ ]:
# we can also delete items as desired
del menu[3]
del menu[2]

print(menu)

In [ ]:
# note that this doesn't work with tuples...
menu_tuple = ('egg', 'bacon', 'sausage', 'spam')
print(menu_tuple[0])
menu_tuple[0] = 'spam'

In [ ]:
# ... or strings
spam = 'spam'
print(spam[0])
spam[0] = 'a'

All sequence types, **list**s, **tuple**s, and **string**s, however, may be joined together to make strings (as long as all the items in the sequence are strings).  For this purpose, Python exposes the `.join()` method on string objects -- call it on the string (literal or variable) that you want to use as the separator:

In [ ]:
# joining our list literal from above
print(', '.join(knights))

In [ ]:
# join the menu with the word "and"
print(' and '.join(menu))

In [ ]:
# joining on the newline character is often useful, too
print('\n'.join(pythons_tuple))

In [ ]:
# and since strings are sequences, their constituent items
#  can be joined in the same way
'-'.join('2468')

### -- Exercise 1

Given a menu of “ingredients” in the form of a list, print them in the form of a string, with commas separating the items and the word "and" before the last item.  Try to do it in a general way, so that it works for menus of any length greater than 2.  It is possible (but not necessary) to do it in a single expression.
```
menu = ['egg', 'bacon', 'sausage', 'spam'] ==> "Egg, bacon, sausage and spam."
```

Hint: you'll need to use string formatting and the `.join()` method, as well as indexing and slicing.

In [ ]:
menu = ['egg', 'bacon', 'sausage', 'spam']

In [ ]:
# write your expression(s) here
print(f'{", ".join(menu[:-1])} and {menu[-1]}.'.capitalize())

### Dictionaries

The dictionary type in Python is what is known in Computer Science as a **_mapping_** -- a collection of objects (values) indexed by values that serve as **_key_**s.  `key`/`value` pairs in a dictionary are known as **_items_**.  Values in Python dictionaries may be of any type; keys must be what are known as _hashable_ types.  For present purposes this boils down to types which are _immutable_ -- so strings, numbers, tuples etc. may be used as keys in dictionaries, but lists, sets, and dictionaries themselves may not.  Unlike sequence types, dictionaries in Python are _unordered_.

In [ ]:
# dictionaries may be instantiated as dict literals, using brace notation,
#  in which case key/value pairs are separated with colons (':')
chapman = {
    'first_name': 'Graham',
    'last_name': 'Chapman',
    'year_of_birth': 1941,
    'year_of_death': 1989
}
chapman

In [ ]:
# it is a common task to create an empty dictionary;
#  the preffered idiom is:
empty_dict = {}
empty_dict

In [ ]:
# dictionaries may also be created by calling the built-in `dict`
dict(first_name='Graham', last_name='Chapman')

In [ ]:
# dictionary keys must be unique in the dictionary, so note that while
#  this is legal...
pythons_by_first_name = {
    'Graham': 'Chapman',
    'John': 'Cleese',
    'Terry': 'Gilliam',
    'Eric': 'Idle',
    'Terry': 'Jones',
    'Michael': 'Palin'
}
# the second appearance of the duplicate key has over-written the first
pythons_by_first_name

In [ ]:
cheeseshop = {
    'Red Leicester': "I'm afraid we're fresh out of Red Leicester sir.",
    'Tilsit': "Never at the end of the week, sir. Always get it fresh first thing on Monday.",
    'Caerphilly': "Ah well, it's been on order for two weeks, sir. I was expecting it this morning.",
    'Bel Paese': "Sorry.",
    'Red Windsor': "Normally, sir, yes, but today the van broke down.",
    'Stilton': "Sorry."
}

In [ ]:
# to access the value associated with a given key, indexing notation is used
cheeseshop['Tilsit']

In [ ]:
# we can create new items (key/value pairs) in the dictionary by assigning
#  a value to an index
cheeseshop['Camembert'] = 'Ah! We do have some Camembert, sir....'
cheeseshop

In [ ]:
# and values can be modified in-place
cheeseshop['Camembert'] += "  Oh... the cat's eaten it."
cheeseshop

In [ ]:
# attempting to access a key that doesn't exist raises a `KeyError` exception
cheeseshop['Stinking Bishop']

Dictionary objects expose a number of useful methods.  `.items()`, `.keys()`, and `.values()` will be covered below when we look at how to iterate over dictionaries.

In [ ]:
# .update() allows merging and updating of dictionaries
some_pythons = {
    'Graham': 'Chapman',
    'John': 'Cleese',
    'Terry': 'Gilliam'   
}
print(some_pythons)

some_pythons.update({
    'Eric': 'Idle',
    'Terry': 'Jones',
    'Michael': 'Palin'
})
print(some_pythons)

In [ ]:
# .get() is useful because it returns None if the key is not found,
#  instead of raising an Exception
neil = pythons_by_first_name.get('Neil')
print(neil)

In [ ]:
# a default fallback value can be passed to .get() to be returned instead of None
carol = pythons_by_first_name.get('Carol', 'Cleveland')
carol

## 4. Operators and Expressions

Most of the statements in a python program will contain one or more _expressions_.  Literal and variable values on their own are simple expressions, but complex expressions can be created by combining one or more _operators_ and one or more _operands_ which are evaluated by the interpreter to return a value.

There are three main kinds of operators in Python -- _arithmetic operators_, _logical operators_, and _bitwise operators_.  We will briefly look at the first two kinds now, although we will get more familiar with them as they will be used throughout this notebook.

In [ ]:
# a literal value is an expression
42

In [ ]:
"Monty Python and the Holy Grail"

In [ ]:
# the assignment operator is used to assign values to variables
# notice that it returns None
the_meaning_of_life = 42

Most of the binary arithmetic operators make sense only in the context of numbers.  Here are a few examples:

In [ ]:
# subtraction
10 - 8

In [ ]:
# multiplication
10 * 8

In [ ]:
# exponentiation
8 ** 2

In [ ]:
# floating-point or ("true") division
#  -- note this operator always evaluates to a floating-point value
8 / 2

In [ ]:
# notice also the floating-point precision
10 / 3

In [ ]:
# floor division will rounding the result down to the nearest integer
#  ("flooring" the value)
10 // 3

In [ ]:
# and returns an integer when the input expressions are both integers
8 // 2

In [ ]:
# for this reason it is sometime called "integer division", but this is not
#  a very accurate description, as Python will return a floating-point value
#  if one or both of the input expressions are floating-point values:
8.0 // 2

In [ ]:
10.0 // 3

In [ ]:
# and finally modulo
10 % 3

The addition operator `+` is slightly more interesting, as it can take expressions other than numbers as its operands:

In [ ]:
# numerical addition is as expected
10 + 5

In [ ]:
-5 + -4

In [ ]:
# "adding" strings results in concatenation
'And now for something' + ' ' + 'completely different.'

In [ ]:
# note that adding strings and numbers is not allowed
'The Meaning of Life' + ' is ' + 42

In [ ]:
# Note that all these expressions return new values.  When working with
#  variables, we often we find ourselves wanting to add something to the
#  variable "in-place":
counter = 0
print(counter)
counter = counter + 1
print(counter)

In [ ]:
# Python provides a shorthand syntax for this case
counter += 1  # addition and (re-)assignment in one
print(counter)

In [ ]:
# "adding" lists results in a new list which is the combination of the operand expressions
defenders = ['Leibniz', 'Kant', 'Hegel', 'Schopenhauer', 'Schelling', 'Jaspers']
attackers = ['Schlegel', 'Wittgenstein', 'Nietszche', 'Heidegger']
the_german_team = defenders + attackers
the_german_team

In [ ]:
# this also gives us another way of appending to a list
the_german_team += ['Beckenbauer']
the_german_team

The logical operators return **boolean** values.  The are perhaps most commonly used in controlling conditional execution, but have many other uses too.

First, arithmetic comparison:

In [ ]:
# equality
42 == 42

In [ ]:
the_meaning_of_life = 42

print(the_meaning_of_life == 42)
print(42 == the_meaning_of_life)
print(the_meaning_of_life == the_meaning_of_life)

In [ ]:
# and inequality
the_meaning_of_life != 42

In [ ]:
# strings work the same way
the_meaning_of_life = 'The Meaning of Life' 
the_meaning_of_life == 'The Meaning of Liff'

In [ ]:
the_meaning_of_life == 'The Meaning of Life'

In [ ]:
# as do other sequence types
['spam', 'spam', 'eggs', 'spam'] == ['spam', 'spam', 'eggs', 'spam']

In [ ]:
['spam', 'spam', 'eggs', 'spam'] == ['spam', 'spam', 'spam', 'spam']

In [ ]:
# greater than
10 > 9

In [ ]:
# lesser than
10 < 9

In [ ]:
# greater than or equal to
10 >= 10

In [ ]:
# lesser than or equal to
10 <= 10

Boolean comparison operates on operands which are (or which evaluate to) truthy or falsey values (they force the expressions to be evaluated in a _boolean context_):

In [ ]:
# simple boolean NOT
not True

In [ ]:
# numerical values are truthy...
not 10

In [ ]:
# ...except for 0
not 0

In [ ]:
# any empty sequence is falsey, for example an empty list...
not []

In [ ]:
# ...or an empty dictionary...
not {}

In [ ]:
# ...or an empty string
not ''

In [ ]:
# and non-empty sequences are truthy, e.g.
not norweigian_blue

In [ ]:
# boolean AND
True and True

In [ ]:
True and False

In [ ]:
# boolean OR
True or False

In [ ]:
False or False

Finally there is the `in` operator, which tests for membership of a collection (a sequence, dictionary, or set).

In [ ]:
# the `in` operator is intuitive for lists, tuples, and sets
'cleese' in pythons_tuple

In [ ]:
# likewise for strings, where it also works for substrings
'蒙提·派森' in monty_python_zh

In [ ]:
# when used with dictionaries, it tests for membership of dict.keys()
'Stilton' in cheeseshop

## 5. Functions

**Function**s are blocks of reusable code.  They provide a way to break monolithic programs into parts; this aids greatly in writing code that is readable, maintainable, and extensible.  It is especially important, of course, when a block of code will or may be used multiple times in the same or similar ways, but a section of code does not need to be used multiple times to justify creating it as a function.

We've already seen a number of **function**s in what we've done so far -- `print()`, of course, but also `len()` and `type()`.  When functions are bound to objects -- as `.format()`, `.lower()` etc. on string objects, or `.append()` on list objects, we call them **method**s, but the difference is minimal and need not concern us at this point.

The functions (and methods) we've seen so far are “built-in” functions -- they're provided to us by the Python interpreter.  The important thing we need to learn in this section is how to _define_ and _call_ (or _invoke_) our own functions.

In [ ]:
# functions are introduced with the "def" keyword (note the final colon)
def knights_who_say_ni():
    # the block of indented statements beneath the definition statement
    #  constitutes the body of the function
    print('Ni!')

In [ ]:
# when defined in this way, they can be called just like built-ins:
knights_who_say_ni()

In [ ]:
# of course, functions are more useful when they take arguments
def ask_for_cheese(cheese):
    print(f'Do you have any {cheese}?')
    print('No!')

In [ ]:
# arguments (or parameters) are passed when the function is invoked:
ask_for_cheese('Gruyère')

In [ ]:
# arguments can be literal values, as above, or variables:
r_leicester = 'Red Leicester'
ask_for_cheese(r_leicester)

In [ ]:
# the value of a function like this, of course, is when it will be called many times:
ask_for_cheese('Emmental')
ask_for_cheese('Norwegian Jarlsberg')
ask_for_cheese('Liptauer')
ask_for_cheese('Lancashire')
ask_for_cheese('White Stilton')
# ...
ask_for_cheese('Venezuelan Beaver Cheese')

In [ ]:
# functions can take as many arguments as you need
def greeting(first_name, last_name):
    print(f'Good evening, my name is {first_name} {last_name}.')

In [ ]:
# and they may be called with "keyword arguments" -- this can
#  help readability, and allows passing the arguments in any order
greeting(first_name='Michael', last_name='Palin')
greeting(last_name='Palin', first_name='Michael')

### -- Exercise 2

Pig Latin is a language game where you take the first letter of a word, move it to the end of the word, then add “-ay” at the end. For example, “pig latin” would be “igpay atinlay” and “monty python” would turn into “ontymay ythonpay”.

In the cell below, write a function that takes a string, lowercases it, and returns the Pig Latin translation of the word. You'll need to use slicing and string concatenation to make this work.

In [ ]:
def pig_latinize(word):
    # write your code here
    return word[1:] + word[0] + 'ay'


# the following should return 'pamalotsay'
pig_latinize('Spamalot')

## 6. Control Flow

Using functions to split up our monolithic code in to manageable blocks also introduces our first element of **_control flow_** -- the ability to have code execute (or not execute) in a non-linear order (i.e. not simply from top to bottom, line by line).

In addition to functions, there are two main control flow mechanisms that we will look at in this section: **_conditional execution_** or **_branching_** causes blocks of code to be executed or ignored based on the evaluation of a boolean expression; and **_loop_**s allow us to specify the execution of blocks of code a fixed or indeterminate number of times.

Raising and handling **_exception_**s is another way to control the flow of execution in a Python program, but we're not going to cover that here.

### Conditional Execution

In Python, the compound `if` statement is comprised of three clauses: `if`, `else`, and `elif`.  Each of these clauses defines a block which executes if the appropriate condition is met.

In [ ]:
# the simplest possible valid if statement
if True:
    print('Of course, `True` is `True`.')

Any valid Python expression can serve as the condition for an `if` statement, and will be evaluated in a _boolean context_.  (Reminder: in this context any non-zero number or non-empty sequence or dictionary evaluates to `True`.  Any numeric zero, empty sequence or dictionary, or `None` evaluates to `False`.)

In [ ]:
# notice that there is no explicit comparison operator here
if '   '.strip():
    print('There’s something here!')
else:
    print('Nothing to report!')

In [ ]:
# although

In [ ]:
# an else clause and one or more elif clauses are optional
def test_number(x):
    if x < 0:
        print(f'{x: 4} is negative')
    elif x % 2:
        print(f'{x: 4} is positive and odd')
    else:
        print(f'{x: 4} is even and non-negative')

test_number(4)
test_number(0)
test_number(-4)
test_number(7)

In [ ]:
# if statements can be nested if desired
def test_number(x):
    if x % 2:
        print(f'{x: 4} is odd')
        if x > 0:
            print(f'   >>{x: 2} is also positive')
    else:
        print(f'{x: 4} is even')
        if x > 0:
            print(f'   >>{x: 2} is also positive')
            
test_number(4)
test_number(0)
test_number(-4)
test_number(7)

### Loops and Iteration

There are two basic kinds of loops in Python: those introduced with the `for` statement are sometimes called _iterative loops_; and those introduced with the `while` statement are sometimes referred to as _conditional loops_.

#### Iterative Loops

**_`for` loops_** repeat the execution of a code block dependent on an _iterable expression_.  For our purposes an _iterable_ may be understood to refer to anything that can be looped over in a `for` loop -- in particular, this includes anything that is a sequence type; a list, a tuple, or a string.

In [ ]:
# Looping over integers is a common task, and Python provides the 
#  built-in function `range()` to make this convenient.
for integer in range(5):
    print(integer)

In [ ]:
# range can accept a start and a stop value...
for integer in range(2, 5):
    print(integer)

In [ ]:
# ...and also a "step" value
for integer in range(2, 10, 2):
    print(integer)

In [ ]:
# The step value can also be negative
for integer in range(10, 0, -1):
    print(integer)

More often, though, we want to iterate over some data structure of our own.

In [ ]:
# here we're going to iterate over a list of dictionaries
python_movies = [
    {'title': 'And Now for Something Completely Different', 'release': 1971},
    {'title': 'Monty Python and the Holy Grail', 'release': 1975},
    {'title': 'Monty Python\'s Life of Brian', 'release': 1979},
    {'title': 'Monty Python Live at the Hollywood Bowl', 'release': 1982},
    {'title': 'Monty Python\'s The Meaning of Life', 'release': 1983}
]

for movie in python_movies:
    # for each dictionary in the list, pass (some of) its values to
    #  the .format() method, and then print
    print(f"“{movie['title']}” was released {2019 - movie['release']} years ago.")

Iterating over tuples is done in exactly the same way, and since strings are sequences just like lists and tuples, we can iterate over them too.

In [ ]:
for letter in 'We want a shrubbery!':
    print(letter)

Iterating over dictionaries can’t be done directly, but dictionaries provide methods that return iterators for precisely this purpose.

In [ ]:
# .keys() allows us to iterate over a dictionary’s keys
for cheese in cheeseshop.keys():
    print(f'Do you have any {cheese}?')

In [ ]:
# and .values() does the same for values
for reply in cheeseshop.values():
    print(reply)

In [ ]:
# if we have the keys, of course, we can get the values by indexing
for cheese in cheeseshop.keys():
    print(f'Do you have any {cheese}?')
    reply = cheeseshop[cheese]
    print(f' -- {reply}')

In [ ]:
# but dictionaries also expose the .items() method, which returns and iterator which
#  yields tuples (key, value)
for item in cheeseshop.items():
    cheese = item[0]
    print(f'Do you have any {cheese}?')
    reply = item[1]
    print(f' -- {reply}')

In [ ]:
# better still we can use a technique called "unpacking assignment"
for cheese, reply in cheeseshop.items():
    print(f'Do you have any {cheese}?')
    print(f' -- {reply}')

#### Conditional Loops

**_`while` loops_** are less commonly seen in Python, but can be very useful.  A `while` loop executes a block of code zero or more times dependent on a conditional expression.

In [ ]:
# this while loop is equivalent to our "for integer in range(5)" loop above
counter = 0
while counter < 5:
    print(counter)
    counter += 1

The power of a `while` loop is that the code block can execute an indeterminate amount of times.

In [ ]:
# first we'll import a random number generator
from random import randrange

random_value = 0
while random_value < 8:
    # randrange(10) generates a (pseudo-)random number between 0 and 9
    random_value = randrange(10)
    print(random_value)

#### `break`, `continue`, and `else` in loops

The `break` and `continue` statements, and the `else` clause, provide some addition options for controlling the flow of loops and Python programs.

In [ ]:
# continue, which may occur only within a loop, terminates the current iteration
#  of the loop, and continues on to the next iteration
for integer in range(10):
    print('iterating!')
    if integer < 5:
        continue
    print(integer)

In [ ]:
# break, which may only occur within a loop, terminates the loop immediately
for integer in range(10):
    print('iterating!')
    if integer > 5:
        break
    print(integer)

In [ ]:
# one common use of break is to terminate an otherwise infinite loop
counter = 0
while True:
    print(counter)
    counter += 1
    if counter > 6:
        break

In [ ]:
# loops may have an optional `else` clause which executes if the loop
#  exits naturally (i.e. not with `break`)

# let's be sure our random number generator is available
from random import randrange

for _ in range(4):
    random_number = randrange(10)
    print(random_number)
    if random_number == 9:
        break
else:
    print('no nines this time!')

## 7. Modules

In the previous examples we used an `import` statement to get some extra functionality that we needed that is not “built-in” to the Python interpreter.  In those examples we imported the `randrange()` function from the `random` **_module_**.

A module is a source file that contains one or more attributes than can be `import`ed and reference in a Python program.  Any Python `.py` can be (indeed, _is_) a module.  One way to group the modules you might want to use in your Python programs is by where they come from:
* local modules (e.g. `.py` files that you have written yourself)
* modules from the Python Standard Library
* modules from third-party packages, such as those found in the Python Package Index (PyPI) or conda-forge

## 8. Exercise 3

The following cell assigns the text of Eric Idle's “Galaxy Song” to a variable `galaxy_song`.  Using what we have learned about string manipulation, the creation and use of lists, and flow control, and re-using the `pig_latinize()` function written for _Exercise 2_ above, print the Pig Latin translation of the entire song.

Here are some hints:
* it will probably be easiest to go through the song line-by-line, and then word-by-word
* for each line, build an new list of pig-latinized words, and then print out that line, before moving on to the next
* the direction lines (in square brackets) should be left as they are
* you will probably need to remove the punctuation -- there's no need to add it back

In [ ]:
galaxy_song = '''
[spoken]
Whenever life gets you down, Mrs. Brown,
And things seem hard or tough,
And people are stupid, obnoxious or daft,

[sung]
And you feel that you've had quite eno-o-o-o-o-ough,

Just remember that you're standing on a planet that's evolving
And revolving at 900 miles an hour.
It's orbiting at 19 miles a second, so it's reckoned,
The sun that is the source of all our power.
Now the sun, and you and me, and all the stars that we can see,
Are moving at a million miles a day,
In the outer spiral arm, at 40,000 miles an hour,
Of a galaxy we call the Milky Way.

Our galaxy itself contains a hundred billion stars;
It's a hundred thousand light-years side to side;
It bulges in the middle sixteen thousand light-years thick,
But out by us it's just three thousand light-years wide.
We're thirty thousand light-years from Galactic Central Point,
We go 'round every two hundred million years;
And our galaxy itself is one of millions of billions
In this amazing and expanding universe.

[waltz]

Our universe itself keeps on expanding and expanding,
In all of the directions it can whiz;
As fast as it can go, at the speed of light, you know,
Twelve million miles a minute and that's the fastest speed there is.
So remember, when you're feeling very small and insecure,
How amazingly unlikely is your birth;
And pray that there's intelligent life somewhere out in space,
'Cause there's bugger all down here on Earth!
'''

In [ ]:
# write your code here